# ignoring any scratch text files
*.txt

# ignoring .vscode folders
**/.vscode

# ignoring __pycache__/ folders
**/__pycache__/

# ignoring vscode workspace file
*.code-workspace

# ignoring ipython checkpoints
**/.ipynb_checkpoints/

# ignoring csv file due to larger file size
*.csv

# ignoring the figures folder
**/fig/

# ignoring pptx
*.pptx
